.dropZone {
  display: flex;
  gap: 3rem;
}

.dropBoxEmpty {
  display: flex;
  border-radius: 6px;
  border: 3px dashed var(--color-border-light);
  width: 156px;
  height: 156px;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  p {
    color: var(--color-fg-light);
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.dropBoxFull {
  @extend .dropBoxEmpty;
  border: 3px solid var(--color-border-strong);
}

.boxLabel {
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}
