.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  &:hover {
    cursor: grab;
  }
}

.containerDisabled {
  @extend .container;
  opacity: 0.5;

  &:hover {
    cursor: default;
  }
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 6px;
  row-gap: 1rem;
}

.heading {
  display: flex;
}

.name {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.dexId {
  background-color: var(--color-fg-strong);
  color: var(--color-bg);
  padding-left: 0.2rem;
  padding-right: 0.1rem;
  font-style: italic;
  font-weight: 800;
  border-top-left-radius: 4px;
}

// Could be ::after with ^
.triangle {
  content: '';
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 0;
  border-color: var(--color-fg-strong) transparent transparent transparent;
}

.types {
  display: flex;
  column-gap: 0.4rem;
}

.typeChips {
  border: 1px solid var(--color-border-light);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 0 0.3rem;
  color: var(--color-fg-light);
  background-color: var(--color-bg);
}
