.disable {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  color: gray;
  background-color: var(--color-bg);
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0.5rem;
  text-transform: uppercase;
}

.active {
  @extend .disable;
  cursor: pointer;
  color: var(--color-bg);
  background-color: var(--color-fg);
}
