.title {
  margin: 1rem auto 0;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
}

.navbar {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 2rem 0 5rem;

  & > :not(:last-child) {
    margin-right: 1rem;
  }
}

.navbar > li {
  border-bottom: 1px solid gray;
  color: lightgray;
  cursor: pointer;

  &:hover {
    color: var(--color-fg);
    border-color: var(--color-fg);
  }
}
