.home {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  row-gap: 3rem;
}

.home > h1 {
  text-align: center;
  font-size: 3rem;
}

.home > h2 {
  text-align: center;
  font-size: 2rem;
}

.explanation {
  text-align: center;
}
