.vote {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
}

.choices {
  display: flex;
  column-gap: 1rem;
}

.help {
  max-width: 600px;
  font-size: 1rem;
  text-align: center;
}
