.mostVoted {
  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}

.tdPokemon {
  display: flex;
  align-items: center;
}

.tdNames {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-transform: capitalize;
  font-weight: 800;
}

.jpName {
  color: var(--color-border-light);
}

.dexId {
  color: var(--color-fg-strong);
  font-style: italic;
  font-weight: 800;
}
